.lmacg_flowContainer {
	border-bottom: 1px solid #121212;
	margin: 0 auto;
	width: auto;
}
 
.lmacg_thumbnailFooter {
	text-align: center;
	color: #121212;
	background-color: #ececec;
	height: 25px;
}

.lmacg_thumbnail {
	margin-right: 10px;
	display: inline-block;
	width: 300px;
	height: 200px;
	background-image: url(images/checker.png);
	background-repeat: repeat;
	background-color: #121212;
	overflow: hidden;
	max-width: 100%;
	text-align: center;
}

.lmacg_thumbnail img {
	width: auto !important;
	max-width: 300px;
	height: 175px;
 
	padding: 0;
}

.lmacg_pagination {
	text-align: center;
}

#lmacg_modalImageLayer {
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0.25, 0.75);
	z-index: 255;
	display: none; 
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#lmacg_imageContainer {
	margin: 25px auto 0px;
	width: auto;
	max-width: 95%;
	height: 80%;
	min-height: 70%;
	background-color: black;
	background-image: url(images/checker.png);
	background-repeat: repeat;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
}

#lmacg_modalImageLayer img {
	width: auto !important;
	margin: 0 auto;	
 	max-width: 100%;
	height: 100%;
}

#lmacg_dataContainer {
	background-color: #121212;	
	max-width: 95%;
	margin: 0 auto;
}

#lmacg_dataContainer table {
	color: #ececec;
	border: none;
	width: auto;
	margin: 0 auto;
	padding: 0;	
}

#lmacg_dataContainer table > tbody {
	border: none;
}

.onePix{
	width: 1px;
	height: 1px;
}

.lmacg_thumbnailFiveStar {
	position: absolute;
	padding: 5px;
	text-align: center;
	color: #121212;
	background-color: rgba(0.2, 0.2, 0.2, 0.25);
	opacity: 0.75;
}

.lmacg_thumbnailFiveStar > .lmacg_currationPostLink {
	color: red !important;
	font-size: 16px;
	margin-right: 5px;
	padding-right: 3px;
	padding-left: 3px;
	background-color: white;
}

.lmacg_thumbnailFiveStar > .lmacg_currationPostLink.selected {
	color: green !important;
	font-size: 16px;
	margin-right: 5px;
	padding-right: 3px;
	padding-left: 3px;
	background-color: white;
}

.lmacg_fivestar  {
	color: #ffffff !important;
	font-size: 16px;
}

.lmacg_thumbnailFiveStar > span {
	color: #ffffff !important;
	font-size: 16px;
}

.lmacg_editImageLink {
	color: #ffffff !important;
	font-size: 16px;
}

#lmacgallery-search-form .form-item {
	display: inline-block;
}

#lmacgallery-search-form .form-type-item {
	display: block;
}

#lmacgallery-search-form .form-item-sq {
   width: 250px;
   border: none;
   display: inline;
}

#lmacgallery-search-form .form-item-sq > input {
 
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border-width: 2px !important;
   padding: 5px;
   border-color: #cccccc !important;
   border-style: solid;
}

#lmacgallery-search-form input[type=submit] {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border-width: 2px !important;
   padding: 6px;
   border-color: #cccccc !important;
   border-style: solid;
}


#lmacg_modalExit {
	font-size: 24px;
	display: block;
	position: absolute;
	color: white;
	left: 5%;
	top: 0px;
	margin-top: 35px;
}

#lmacg_modalExit:hover {
	text-decoration: none;
	color: #DDD;
}

.lmacg-dapp-link {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	margin-right: 5px;	
}

.lmacg-dapp-link.peakd-dapp-icon {
	background-image: url(images/PeakDLogo.png);
}

.lmacg-dapp-link.hive-blog-dapp-icon {
	background-image: url(images/HiveBlogLogo.png);
}

.lmacg-dapp-link.ecency-dapp-icon {
	background-image: url(images/Ecency.png);
}

#lmacg_imagePage-image-container {
	text-align: center;
}

#lmacg_imagePage-image-container > img {
	width: 54%;
}

#lmacg_imagePage-info-container {
	text-align: left;
}

.lmacg-image-table-label-col {
	width: 200px;
	text-align: left;
}

.lmacg-image-table-link-col {
	text-align: left;
}

#lmacg_imagePage-navigation {
	margin-bottom: 15px;
}

#lmacg_imagePage-navigation > a {
	margin-right: 15px;
}

#lmac-gallery-image-download-link {
	margin-top: 15px;
	display: block;
	text-align: right;
}


.lmacg_paginationList {
   text-align: center;
}

.lmacg_paginationList > li.disabled {
   color: gray;
}

.lmacg_paginationList > li.active {
   text-decoration: underline;
}

.lmacg_paginationList > li.active > a {
   color: black;
   font-weight: bold;
}
