.fake-admin-list > li {
	padding-bottom: 10px;
}

#edit-hidelist-items > .form-type-checkbox {
	display: inline-block;
	vertical-align: top;
	height: 120px;
	overflow:hidden;
	margin-bottom: 20px;
	background-color: #c0c0c0;
}

#edit-hidelist-items > .form-type-checkbox > input[type=checkbox] {
	height: 86px;
	display: inline-block;
	vertical-align: top;
}

#edit-hidelist-items > .form-type-checkbox > label {
	max-height: 120px;
	display: inline-block;
}

#edit-hidelist-items img {
	background-color: black;

}

#edit-ratings {
	background: url(images/buttons.png) 0 0 repeat-x;	
	color: yellow;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
	font-weight: bold;
}